<div class="row fixed">
  <div class="col-sm-12 fixed">
    <div class="bg-outline-primary">
      <input class="form-control" placeholder="type-something.." type="text" [(ngModel)]="filterText">
    </div>
  </div>
  
  
  <div *ngIf="filterText?.length>0; else setfilterCharA ">
      <h1>{{filterText.substring(0,1).toLocaleUpperCase()}}</h1>
    </div>
  <ng-template #setfilterCharA>
    <div>
      <h1>A</h1>
    </div>
  </ng-template>

</div>
<div class="row fixed">
  <div class="col-11">
    <div class="row">

      <div class="col-sm-12">

        <app-word [filterText]="filterText" (onSetWord)="onSetWord($event)"></app-word>
        <br><br>
      </div>
      <div class="col-sm-12">
        <app-word-description [filterText]="filterText"></app-word-description>
      </div>
    </div>
  </div>
<hr>
  <div class="col-1 fixed">
    <app-right-bar (onLetterClicked)="onLetterClicked($event)"></app-right-bar>
  </div>
</div>
